name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build and Upload Release Assets
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - goarch: amd64
          - goarch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        env:
          GOARCH: ${{ matrix.goarch }}
        run: go build -o bin/hopkey-${{ matrix.goarch }} ./cmd/hopkey/main.go

      - name: Archive Binary
        run: |
          zip bin/hopkey-${{ matrix.goarch }}.zip bin/hopkey-${{ matrix.goarch }}

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} bin/hopkey-${{ matrix.goarch }}.zip
